{% extends "base.html" %}

{% load staticfiles %}
{% load tags %}
{% load humanize %}

{% block title %} - New Observation{% endblock %}

{% block css %}
  <link href="{% static 'lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'lib/bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
{% endblock css %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>New Observation</h2>
      <div class="timezone text-muted">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        Timeframes are in <a href="#" data-toggle="modal" data-target="#UTCModal">UTC</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 text-right hidden-xs">
      <h2>
        {% if user.is_authenticated %}
          <a href="#" class="btn" data-toggle="modal" data-target="#HotkeysModal">
            <span class="glyphicon glyphicon-fire" aria-hidden="true" title="Hotkeys"></span>
          </a>
        {% endif %}
      </h2>
    </div>
  </div>

  <form class="form-horizontal" role="form" action="{% url 'base:observation_new' %}"
        method="post" data-obs-filter="{{ obs_filter.exists|lower }}" data-obs-filter-station="{{ obs_filter.ground_station }}"
        data-obs-filter-dates="{{ obs_filter.dates|lower }}" data-obs-filter-transmitter="{{ obs_filter.transmitter }}"
        data-obs-filter-satellite="{{ obs_filter.norad }}" id="form-obs">{% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Satellite</label>
          <div class="col-sm-9">
            {% if obs_filter.norad %}
              {% for satellite in satellites %}
                {% ifequal satellite.norad_cat_id obs_filter.norad %}
                  <select id="satellite-selection" class="form-control selectpicker" name="satellite">
                    <option data-norad="{{ satellite.norad_cat_id }}" value="{{ satellite.norad_cat_id }}" selected>
                      {{ satellite.norad_cat_id }} - {{ satellite.name }}
                    </option>
                  </select>
                {% endifequal %}
              {% endfor %}
            {% else %}
              <select id="satellite-selection" class="form-control selectpicker" name="satellite" data-live-search="true" autocomplete="off">
                <option value="" selected>Select a satellite</option>
                {% for satellite in satellites %}
                  <option data-norad="{{ satellite.norad_cat_id }}" value="{{ satellite.norad_cat_id }}">
                    {{ satellite.norad_cat_id }} - {{ satellite.name }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Transmitter</label>
          <div class="col-sm-9">
            <select id="transmitter-selection" class="form-control selectpicker"
                    disabled name="transmitter" autocomplete="off">
              <option id="no-transmitter" value="" selected>No transmitter available</option>
            </select>
            {% for satellite in satellites %}
              <small class="tle" data-norad="{{ satellite.norad_cat_id }}">
                {% if satellite.tle_no %}
                  Using TLE fetched
                  <span data-toggle="tooltip" data-placement="bottom" title="{{ satellite.tle_epoch|date:"Y-m-d H:i:s" }}">
                    {{ satellite.tle_epoch|naturaltime }}
                  </span>
                {% endif %}
              </small>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Start Time</label>
          <div class="col-sm-9">
            <div class='input-group date' id="datetimepicker-start"
                 data-date-minstart="{{ date_min_start }}">
              {% if obs_filter.dates %}
                <input type="text" class="form-control" name="start-time"
                       value="{{ obs_filter.start_date}}" readonly>
              {% else %}
                <input type="text"
                       class="form-control"
                       name="start-time"
                       data-date-format="YYYY-MM-DD HH:mm"
                       autocomplete="off">
              {% endif %}
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">End Time</label>
          <div class="col-sm-9">
            <div class='input-group date' id="datetimepicker-end"
                 data-date-maxrange="{{ date_max_range }}"
                 data-date-minend="{{ date_min_end }}">
              {% if obs_filter.dates %}
                <input type="text" class="form-control" name="end-time"
                       value="{{ obs_filter.end_date}}" readonly>
              {% else %}
                <input type="text"
                       class="form-control"
                       name="end-time"
                       data-date-format="YYYY-MM-DD HH:mm"
                       autocomplete="off">
              {% endif %}
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if obs_filter.ground_station %}
      <input type="hidden" name="ground_station" value="{{ obs_filter.ground_station }}">
    {% endif %}

    <div class="row">
      <div class="col-md-12">
        <button type="button" id="calculate-observation" class="btn btn-primary pull-right">
          Calculate
        </button>
      </div>
    </div>

    <div class="row calculation-result">
      <div class="col-md-12">
        <h3>Calculated Timeline</h3>
        <div id="obs-selection-tools">
          <div>
            <button type="button" id="select-all-observations" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-check">All</i></button>
            <button type="button" id="select-none-observations" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-unchecked">None</i></button>
          </div>
          <div>
            <label for="elevation-filter">Max Elevation</label>
            <input id="elevation-filter" type="text"/>
          </div>
        </div>
        <div id="loading" class="notice">Calculating</div>
        <div id="timeline"></div>
        <div id="hover-obs">
          <div class="coloredDiv"></div>
          <div class="obs-details">
            <div id="name" class="bold-text"></div>
            <div class="bold-text">Start Time:</div>
            <div id="start-time"></div>
            <div class="bold-text">End Time:</div>
            <div id="end-time"></div>
            <div class="bold-text" id="details"></div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1"
            id="polar-plot"
            width="120px" height="120px"
            viewBox="-110 -110 220 220"
            overflow="hidden">
          </svg>
        </div>
        <div id="windows-data"></div>
      </div>
    </div>

    <div class="row calculation-result">
      <div class="col-md-12">
        <button type="submit" id="schedule-observation" class="btn btn-success pull-right" disabled="True">
          Schedule
        </button>
      </div>
    </div>
  </form>

  <!-- UTC Modal -->
  {% include 'includes/utc.html' %}

  <!-- Hotkeys Modal -->
  {% include 'includes/observation-new-hotkeys.html' %}

{% endblock content %}

{% block javascript %}
  <script src="{% static 'lib/d3/d3.min.js' %}"></script>
  <script src="{% static 'lib/d3-timeline/src/d3-timeline.js' %}"></script>
  <script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'lib/satellite.js/dist/satellite.min.js' %}"></script>
  <script src="{% static 'js/utc.js' %}"></script>
  <script src="{% static 'js/polar_svg.js' %}"></script>
  <script src="{% static 'js/observation_new.js' %}"></script>
{% endblock javascript %}
